/*
    *   CSS SalãoVIP     
*/

.topWrap .logo img {
    height: 100px;
}

.topWrap .logo.logo_left {
    height: 100px;
}

.topWrap .logo {
    padding-top: 0;
} 

.sc_video_player {
	width: 540px;
}

.copyWrap .copy .copyright {
	float: none;
	text-align: center;
}

.hidden-md {
	display: none;
}

.galeria-container {
	background: #ea624c;
	width: 100%;
	height: 100px;
}

.galeria-container .divider {
	width: 60%;
	border: 1px solid #ccc;
}

.espaco-descricao {
	font-size: 18px;
	text-align: center;
}

.sc_column_item .espaco-descricao {
	font-size: 22px;
	line-height: 29px;
}

.main .content .midia-title , .galeria-container .midia-title{
	padding-top: 40px;
	text-align: center;
}


.slides .slide-text {
	position: absolute;
	color: #fff;
}

.bg-first {
	background: url('../images/temas/monsterhigh/bg1.png');
}

.bg-first .bg-logo {
	background: url('../images/temas/monsterhigh/monster-logo.png');
 	width: 300px; 
 	height: 300px;
 	background-size: contain;
 	background-repeat: no-repeat;
 	margin: 0 auto;
 	margin-top: 80px;
}


.bg-vingadores {
    background: url('../images/temas/vingadores/bg-vingadores.jpg');
    background-position:100% 25% !important;
    background-repeat:no-repeat;
    background-size:cover;
}

.bg-brinquedao {
    background: url('../images/temas/brinquedao/brinquedao.jpg');
    background-position:100% 100% !important;
    background-repeat:no-repeat;
    background-size:cover;
}

.bg-barbie {
    background: url('../images/temas/barbie/barbiebg.jpg');
    background-size:cover;
    background-position: 100% 8% !important; 
}

.btn-submit-svip > button {
    background: #1bb4b9 !important;
    color: #fff !important;
}

.logo_fixed:before {
    content: 'Jojo Kids';
    color: #1BB4B9;
    font-family: 'Fredoka One', cursive;
    font-weight: 400;
    border:none;
}

.logo-fixed {
    visibility: hidden;
}



.item-title {
    padding-bottom: 0 !important;
    color: #000;
    font-family: 'Fredoka One', cursive;
    display: block;
}

.item-icon , .item-content{
    display: inline-block;
}

.item-icon > i {
    width: 40px;
    text-align: center;
}

.item-icon {
    line-height: 3;
}

.item-content {
    padding-left: 20px;
}

@media (max-width: 750px) {
	.sc_column_item .espaco-descricao {
		font-size: 19px;
		line-height: normal;
	}
    
    .bg-vingadores {
        background: url('../images/temas/vingadores/bg-vingadores.jpg');
        background-position: center center !important;
        background-repeat:no-repeat;
        background-size:cover;
    }
    
    .bg-barbie {
        background: url('../images/temas/barbie/barbiebg.jpg');
        background-size:cover;
        background-position: center !important; 
    }

	.hidden-xs {
		display: none;
	}

	.btn-agendar {
		float:none;
		display: block;
		margin: 0 auto;
		width: 215px;
	}

	.xs-text-center {
		text-align: center;
	}

	.bg-first .bg-logo {
		background: url('../images/temas/monsterhigh/monster-logo.png');
	 	width: 150px; 
	 	height: 150px;
	 	background-size: contain;
	 	background-repeat: no-repeat;
	 	margin: 0 auto;
	 	margin-top: 150px;
	}
    
    .topWrap .logo img {
        height: 100px;
        display: block;
        margin: 0 auto;
    }
    
    .btn-submit-svip , .btn-submit-svio > button {
        float: none !important;
        display: block !important;
    }
    
    .btn-submit-svip > button {
       margin: 0 auto;
        margin-top: 20px;
    }
    
    .element2 {
        left: 58% !important;
    }
}